<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Estate</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent">
    <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">

        <img class="img-fluid" src="img/icon-deal.png" alt="Icon" style="width: 30px; height: 30px;">

        <h1 class="m-0 text-primary">For Rent</h1>

        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto">
                <a href="/" class="nav-item nav-link" style="color: #0a0a0b">Home</a>
            </div>
            <a href="/signup" class="btn btn-primary px-3 d-none d-lg-flex m-lg-3" th:if="${session.userEmail==null}">Sign Up</a>
        </div>
        <div><a href="" class="btn btn-primary px-2 d-none d-lg-flex" th:if="${session.userEmail!=null}">Log Out</a></div>
    </nav>
</div>
</div>



<div class="tab-content" />
<div id="tab-1" class="tab-pane fade show p-0 active" >
    <div class="row g-4" >
        <div class="col-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" th:each="list, itetstat:${homes}">
            <div class="property-item rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                    <a href=""> <img alt="" th:src="'data:photo/jpg;base64,'+${list.photo}" height="300px" width="600px"></a>
                    <div class="bg-primary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3" th:text="${list.service}"></div>
                    <a th:if="${list.service=='Sale'}" th:href="@{/buylogin/{homeId}(homeId=${list.homeId})}"> <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Buy Now</div></a>
                    <!-- <a href=""> <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3" th:else>Sold Out</div></a> -->
                    <a th:href="@{/rentlogin/{homeId}(homeId=${list.homeId})}" th:unless="${list.service=='Sale'}" > <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Rent Now</div></a>
                    <a href="" th:unless="${list.status==1}"> <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Sold Out</div></a>
                </div>
                <div class="p-4 pb-0">
                    <h5 class="text-primary mb-3" th:text="${itetstat.index+1}"></h5>
                    <h5 class="text-primary mb-3" th:text="${list.price}"></h5>

                    <a class="d-block h5 mb-2" href="" th:text="${list.property}" ></a>
                    <p><i class="fa fa-map-marker-alt text-primary me-2"><span th:text="${list.location}" ></span></i></p>
                </div>
                <div class="d-flex border-top">
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-black-50 me-2" th:text="${list.area}"></i></small>
                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-black-50 me-2" th:text="${list.bedRoom}+Bed"></i></small>
                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-black-50 me-2" th:text="${list.bathRoom}+Bath"></i></small>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
        <a class="btn btn-primary py-3 px-5" href="villa"> ^ Up ^ </a>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/wow/wow.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>
</body>

</html>