<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Estate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<h2 class="col-md-6 offset-md-3">Admin View</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Home Id</th>
        <th scope="col">Home No.</th>
        <th scope="col">No.of.Bedroom</th>
        <th scope="col">No.of.Bathroom</th>
        <th scope="col">Home Area</th>
        <th scope="col">Home Location</th>
        <th scope="col">Home type</th>
        <th scope="col">Service</th>
        <th scope="col">Price</th>
        <th scope="col">Create</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        <th scope="col">Text</th>
        <th scope="col">View</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>