<!DOCTYPE html>
<link href="css/style.css" rel="stylesheet">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <a th:href="@{/}" class="previous" style="margin-top: 20px;margin-left: 20px;border-radius: 10px">&laquo; Home</a>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="css/login.css">

</head>
<body>

<div class="overlay">
    <form th:action="@{/adminlogin}" method="post">
        <div class="con">
            <header class="head-form">
                <h2 style="color: #FFFFFF">Log In Here</h2>

                <p style="color: #FFFFFF">Login to your account</p><br>

                <div th:if="${error3}">
                    <div class="alert alert-danger">Invalid Email or Password</div>
                </div>
            </header>

            <br>
            <div class="field-set">

                <!--   user name -->
                <span class="input-item">
           <i class="fa fa-user-circle"></i>
         </span>
                <!--   user name Input-->
                <input class="form-input" id="txt-input" type="text" placeholder="@Email" name="email" required>

                <br>
                <span class="input-item">
        <i class="fa fa-key"></i>
       </span>

                <input class="form-input" type="password" placeholder="Password" id="pwd"  name="password" required>


                <span toggle="#password-field">
<!--        <i class="fa fa-eye" aria-hidden="true"  type="button" id="eye"></i><script>-->
                           });</script>
                    <script>

                        const eyeIcon = document.getElementById("eye");
                        const passwordInput = document.getElementById("pwd");


                        eyeIcon.addEventListener("click", () => {
                            // Toggle the type of the password input between "password" and "text"
                            const type = passwordInput.getAttribute("type") === "password" ? "text" : "password";
                        passwordInput.setAttribute("type", type);

                        // Toggle the eye icon class based on the password input type
                        if (type === "password") {
                            eyeIcon.classList.remove("fa-eye");
                            eyeIcon.classList.add("fa-eye-slash");
                        } else {
                            eyeIcon.classList.remove("fa-eye-slash");
                            eyeIcon.classList.add("fa-eye");

                        }
                        });

                    </script>
     </span>


                <br>
                <button class="log-in" type="submit" onclick="location.href=''"> Log In </button>
                <br>


            </div>
        </div>

    </form>

    <script src="https://kit.fontawesome.com/df7b367b21.js" crossorigin="anonymous"></script>

</div>
</body>
</html>






