<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/html">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="adminView::navbar"></div><br>
<div class="col-md-6 offset-md-3">
<form action="/home/update" method="post" th:object="${homeBean}" >
    <div>
        <h2 style="text-align: center">Admin Edit</h2>
        <div class="form-group col-md-6">
            <label for="inputHomeId">Home Id</label>
            <input type="text" class="form-control" id="inputHomeId" th:field="*{homeId}" readonly >
        </div>

        <div class="form-group col-md-6">
            <label for="inputHomeNo">Home Number</label>
            <input type="text" class="form-control" id="inputHomeNo" th:field="*{homeNo}" readonly>
        </div>

        <div class="form-group col-md-6">
            <label for="inputNo.of.Bedroom">Number of Bedroom</label>
            <input type="text" class="form-control" id="inputNo.of.Bedroom" th:field="*{bedRoom}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputNo.of.Bathroom">Number of Bathroom</label>
            <input type="text" class="form-control" id="inputNo.of.Bathroom" th:field="*{bathRoom}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputArea">Area</label>
            <input type="text" class="form-control" id="inputArea" th:field="*{area}">
        </div>

        <div class="form-group col-md-6">
            <label for="inputLocation">Location</label>
            <input type="text" class="form-control" id="inputLocation" th:field="*{location}">
        </div>

        <div class="form-group col-md-6">
            <label for="inputPrice">Price</label>
            <input type="text" class="form-control" id="inputPrice" th:field="*{price}">
        </div>

        <div class="form-group col-md-6">
            <label for="inputProperty">Home Type</label>
            <select id="inputProperty" class="form-control"  th:field="*{property}">
<!--                <option selected>Type...</option>-->
                <option value="Appartment">Appartment</option>
                <option value="Villa">Villa</option>
                <option value="House">House</option>
                <option value="Office">Office</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="inputService">Service</label>
            <select id="inputService" class="form-control"  th:field="*{service}">
<!--                <option selected>Type...</option>-->
                <option value="Sale">Sale</option>
                <option value="Rent">Rent</option>
            </select>
        </div>
        <div>
            <label for="photo">Photo</label>
            <input type="file" class="form-control-file" id="photo" th:field="*{photo}">
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
</div>
<div th:replace="adminView::footer"></div>
</body>
</html>