<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/html">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="adminView::navbar"></div><br>
<div class="col-md-6 offset-md-3">
<form th:action="@{/home/update}" method="post" th:object="${homeBean}" enctype="multipart/form-data">
    <div>
        <h2 style="text-align: center">Admin Edit</h2>
        <div class="form-group col-md-6">
            <label for="homeId">Home Id</label>
            <input type="text" class="form-control" id="homeId" th:field="*{homeId}" name="homeId" readonly >
        </div>

        <div class="form-group col-md-6">
            <label for="homeNo">Home Number</label>
            <input type="text" class="form-control" id="homeNo" th:field="*{homeNo}" name="homeNo" readonly>
        </div>

        <div class="form-group col-md-6">
            <label for="bedRoom">Number of Bedroom</label>
            <input type="text" class="form-control" id="bedRoom" th:field="*{bedRoom}" name="bedRoom">
        </div>
        <div class="form-group col-md-6">
            <label for="bathRoom">Number of Bathroom</label>
            <input type="text" class="form-control" id="bathRoom" th:field="*{bathRoom}" name="bathRoom">
        </div>
        <div class="form-group col-md-6">
            <label for="area">Area</label>
            <input type="text" class="form-control" id="area" th:field="*{area}" name="area">
        </div>

        <div class="form-group col-md-6">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" th:field="*{location}" name="location">
        </div>

        <div class="form-group col-md-6">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" th:field="*{price}" name="price">
        </div>

        <div class="form-group col-md-6">
            <label for="property">Home Type</label>
            <select id="property" class="form-control"  th:field="*{property}" name="property">
<!--                <option selected>Type...</option>-->
                <option value="Appartment">Appartment</option>
                <option value="Villa">Villa</option>
                <option value="House">House</option>
                <option value="Office">Office</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="service">Service</label>
            <select id="service" class="form-control"  th:field="*{service}" name="service">
<!--                <option selected>Type...</option>-->
                <option value="Sale">Sale</option>
                <option value="Rent">Rent</option>
            </select>
        </div>
        <div>
            <label for="photo">Photo</label>
            <input type="file" class="form-control-file" id="photo" th:field="*{photo}" accept="image/**" name="photo" multiple>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
</div>
<div th:replace="adminView::footer"></div>
</body>
</html>