<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="adminView::header">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="adminView::navbar"></div><br>
<div>
    <form th:action="@{/adminCreate}" method="post" enctype="multipart/form-data" modelAttribute="home">
        <div class="container col-md-6 offset-md-3">
            <h2 class="col-md-6 offset-md-3">Admin Create</h2>

            <div class="form-group col-md-6">
                <label for="inputHomeNo.">Home Number</label>
                <input type="text" class="form-control" id="inputHomeNo." name="inputHomeNo">
            </div>

            <div class="form-group col-md-6">
                <label for="inputNo_of_Bedroom">Number of Bedroom</label>
                <input type="text" class="form-control" id="inputNo_of_Bedroom" name="inputNo_of_Bedroom">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNo_of_Bathroom">Number of Bathroom</label>
                <input type="text" class="form-control" id="inputNo_of_Bathroom" name="inputNo_of_Bathroom">
            </div>
            <div class="form-group col-md-6">
                <label for="inputArea">Area</label>
                <input type="text" class="form-control" id="inputArea" name="inputArea">
            </div>

            <div class="form-group col-md-6">
                <label for="inputLocation">Location</label>
                <input type="text" class="form-control" id="inputLocation" name="inputLocation">
            </div>

            <div class="form-group col-md-6">
                <label for="inputPrice">Price</label>
                <input type="text" class="form-control" id="inputPrice" name="inputPrice">
            </div>

            <div class="form-group col-md-6">
                <label for="inputProperty">Home type</label>
                <select id="inputProperty" class="form-control" name="inputProperty">
                    <option selected>Type...</option>
                    <option>Apartment</option>
                    <option>Villa</option>
                    <option>House</option>
                    <option>Office</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="inputService">Service</label>
                <select id="inputService" class="form-control" name="inputService">
                    <option selected>Type...</option>
                    <option>Buy</option>
                    <option>Rent</option>
                </select>
            </div>

            <div class="form-group">
                <label for="customFile">Photo</label>
                <input type="file" name="file" class="form-control-file" id="customFile">
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

<div th:replace="adminView::footer"></div>
</body>
</html>