<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="adminView::header">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="adminView::navbar"></div><br>
<div>
    <form:form action="/adminCreate" method="post" enctype="multipart/form-data" modelAttribute="home">
        <div class="container col-md-6 offset-md-3">
            <h2 class="col-md-6 offset-md-3">Admin Create</h2>

            <div class="form-group col-md-6">
                <label for="inputHomeNo.">Home No.</label>
                <input type="text" class="form-control" id="inputHomeNo." field="homeNo">
            </div>

            <div class="form-group col-md-6">
                <label for="inputNo.of.Bedroom">No.of.Bedroom</label>
                <input type="text" class="form-control" id="inputNo.of.Bedroom" field="bedroom">
            </div>
            <div class="form-group col-md-6">
                <label for="inputNo.of.Bathroom">No.of.Bathroom</label>
                <input type="text" class="form-control" id="inputNo.of.Bathroom" field="bathroom">
            </div>
            <div class="form-group col-md-6">
                <label for="inputArea">Area</label>
                <input type="text" class="form-control" id="inputArea" field="area">
            </div>

            <div class="form-group col-md-6">
                <label for="inputLocation">Location</label>
                <input type="text" class="form-control" id="inputLocation" field="location">
            </div>

            <div class="form-group col-md-6">
                <label for="inputPrice">Price</label>
                <input type="text" class="form-control" id="inputPrice" field="price">
            </div>

            <div class="form-group col-md-6">
                <label for="inputProperty">Home type</label>
                <select id="inputProperty" class="form-control" field="property">
                    <option selected>Type...</option>
                    <option>Apartment</option>
                    <option>Villa</option>
                    <option>House</option>
                    <option>Office</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="inputService">Service</label>
                <select id="inputService" class="form-control" field="service">
                    <option selected>Type...</option>
                    <option>Buy</option>
                    <option>Rent</option>
                </select>
            </div>

            <div class="form-group">
                <label for="customFile">Photo</label>
                <input type="file" name="file" class="form-control-file" id="customFile" field="photo">
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form:form>
</div>

<div th:replace="adminView::footer"></div>
</body>
</html>