<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form onsubmit="return validateDates()"  th:action="@{/getAppoinment}" method="post" >
    <div class="container col-md-6 offset-md-3">
        <h2 class="col-md-6 offset-md-3">Appoinment</h2>
        <div class="row mb-4">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" name="name" required >
        </div>
        <div class="row mb-4">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail"  name="email" required >
        </div>
        <div class="row mb-4">
            <label for="inputPhone">Phone</label>
            <input type="text" class="form-control" id="inputPhone"  name="phone" required>
        </div>
        <div class="row mb-4">
            <label for="inputPayment">Reason for appointment</label>
            <select id="inputPayment" class="form-control"  name="reason" required>
                <option selected>Sale</option>
                <option>Buy</option>
                <option>Rent</option>
            </select>
        </div>

        <div class="row mb-4">
            <label for="exampleFormControlTextarea1">Additional comments</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment"></textarea>
        </div>
        <div class="row mb-4">
            <label for="inputDate"> Date</label>
            <input type="datetime-local" class="form-control" id="inputDate"  name="dateTime" required>
        </div>


        <button type="submit" class="btn btn-primary" >Save Appoinment</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
    function validateDates() {
        var currentDate = new Date();
        currentDate.setHours(0, 0, 0, 0); // Reset time to start of the day

        var startDate = new Date(document.getElementById('inputDate').value);

        if (startDate < currentDate) {
            alert('Start date cannot be earlier than the current date.');
            return false;
        }

        return true;
    }
</script>


<div th:replace="adminView::footer"></div>
</body>
</html>