<!DOCTYPE html>
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="/css/admin.css">
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/index" class="previous" style="background: #0b2540; color:#FFFFFF;margin-left: 20px;border-radius: 20px;margin-top: 30px">&laquo; Back</a>

<form onsubmit="return validateDates()"  th:action="@{/getAppoinment}" method="post">
    <div class="container col-md-6 offset-md-3">
        <h2 class="col-md-6 offset-md-3">Appoinment</h2>
        <div class="row mb-4">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required >
        </div>
        <div class="row mb-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"  name="email" required >
        </div>
        <div class="row mb-4">
            <label for="phone">Phone</label>
            <input type="number" class="form-control" id="phone"  name="phone" required>
        </div>
        <div class="row mb-4">
            <label for="reason">Reason for appointment</label>
            <select id="reason" class="form-control"  name="reason" required>
                <option selected>Sale</option>
                <option>Buy</option>
                <option>Rent</option>
            </select>
        </div>

        <div class="row mb-4">
            <label for="comment">Additional comments</label>
            <textarea class="form-control" id="comment" rows="3" name="comment"></textarea>
        </div>
        <div style="color: crimson" id="alert-Message" class="alert-Message"></div>
        <div class="row mb-4">
            <label for="dateTime"> Date</label>
            <input type="datetime-local" class="form-control" id="dateTime"  required name="dateTime" >
        </div>


        <button type="submit" class="btn btn-primary" style="margin-bottom: 15px" >Save Appoinment</button>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script>
    function validateDates() {
        var currentDate = new Date();
        currentDate.setHours(0, 0, 0, 0); // Reset time to start of the day

        var startDate=document.getElementById("dateTime").value;
        var alertMessage=document.getElementById("alert-Message");

        var startDateObj=new Date(startDate);

        if(startDateObj < currentDate){
            alertMessage.innerHTML="Start date cannot be earlier than the current date.";
            return false;
        }
        alertMessage.innerHTML="";
        return true;

        // var startDate = new Date(document.getElementById('inputDate').value);
        //
        // if (startDate < currentDate) {
        //     alert('Start date cannot be earlier than the current date.');
        //     return false;
        // }
        //
        // return true;
    }
</script>


<div th:replace="adminView::footer"></div>
</body>
</html>