<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="adminView::navbar"></div><br>
<h2 class="col-md-6 offset-md-3" align="center">Delete Detail</h2>

<div class="container">
    <table class="table table-striped">
        <thead style="background: #081c30;color:white;">
        <tr>
            <th scope="col">No</th>

            <th scope="col">Home No</th>
            <th scope="col">User Name</th>
            <th scope="col">User Email</th>
            <th scope="col">User Phone</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="payment,itetstat:${payments}">
            <td> <span th:text="${itetstat.index+1}"></span></td>

            <td th:text="${payment.home.homeNo}"></td>
            <td th:text="${payment.user.userName}"></td>
            <td th:text="${payment.user.userEmail}"></td>
            <td th:text="${payment.user.userPhone}"></td>
            <td th:text="${payment.home.price}"></td>
            <td th:text="${payment.dateTime}"></td>
        </tr>
        </tbody>
    </table>

</div>


<div th:replace="adminView::footer"></div>
</div>
</body>
</html>