<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="adminView::navbar"></div><br>
<h2 class="col-md-6 offset-md-3" style="text-align: center">Home Details</h2>

<div class="container">
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Home Id</th>
        <th scope="col">Home No</th>
        <th scope="col">Number of Bedroom</th>
        <th scope="col">Number of Bathroom</th>
        <th scope="col">Home Area</th>
        <th scope="col">Home Location</th>
        <th scope="col">Price</th>
        <th scope="col">Home type</th>
        <th scope="col">Service</th>
        <th scope="col">Photo</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="home : ${homes}">

        <td th:text="${home.homeId}"></td>
        <td th:text="${home.homeNo}"></td>
        <td th:text="${home.bedRoom}"></td>
        <td th:text="${home.bathRoom}"></td>
        <td th:text="${home.area}"></td>
        <td th:text="${home.location}"></td>
        <td th:text="${home.price}"></td>
        <td th:text="${home.property}"></td>
        <td th:text="${home.service}"></td>
        <td th:text="${home.photo}"></td>
        <td><a th:href="@{/adminEdit/home/{homeId}(homeId=${home.homeId})}"><button class="btn btn-danger" type="button">Edit</button></a></td>
        <td><a th:href="@{/delete/home/{homeId}(homeId=${home.homeId})}"><button class="btn btn-danger" type="button">Delete</button></a></td>
    </tr>
    </tbody>
</table>
</div>

<div th:replace="adminView::footer"></div>
</body>
</html>