<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form:form action="" method="post"  modelAttribute="User" >
    <div class="container col-md-6 offset-md-3">
        <h2 class="col-md-6 offset-md-3">Payment</h2>
        <div class="form-group col-md-6">
            <label for="inputUserId">UserId</label>
            <input type="text" class="form-control" id="inputUserId" field="userId">
        </div>

        <div class="form-group col-md-6">
            <label for="inputHomeId" disabled="homeId">HomeId</label>
            <input type="hidden" class="form-control" id="inputHomeId" field="homeId">
        </div>

        <div class="form-group col-md-6">
            <label for="inputHomeNo.">Home No.</label>
            <input type="text" class="form-control" id="inputHomeNo." field="homeNo">
        </div>

        <div class="form-group col-md-6">
            <label for="inputUserName">UserName</label>
            <input type="text" class="form-control" id="inputUserName" field="userName">
        </div>
        <div class="form-group col-md-6">
            <label for="inputAmount">Price</label>
            <input type="text" class="form-control" id="inputAmount" field="price">
        </div>
        <div class="form-group col-md-6">
            <label for="inputDate">Date</label>
            <input type="date" class="form-control" id="inputDate" >
        </div>
        <div class="form-group col-md-6">
            <label for="inputPayment">Payment</label>
            <select id="inputPayment" class="form-control">
                <option selected>Type...</option>
                <option>K pay</option>
                <option>Wave Pay</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" onclick="location.href='/'">Confirm</button>
    </div>
</form:form>
<div th:replace="adminView::footer"></div>
</body>
</html>