<!DOCTYPE html>
<link href="/css/style.css" rel="stylesheet">
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div th:replace="adminView::navbar"></div><br>
<h2 class="col-md-6 offset-md-3" align="center">Rent Detail</h2>

<div class="container">
    <table class="table table-striped">
        <thead style="background: #081c30;color:white;">
        <tr>
            <th scope="col">No</th>

            <th scope="col">Home No</th>
            <th scope="col">User Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Payment</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rpayment ,itetstat:${rPayments}">
            <td> <span th:text="${itetstat.index+1}"></span></td>
            <td th:text="${rpayment.homeNo}"></td>
            <td th:text="${rpayment.userName}"></td>
            <td th:text="${rpayment.price}"></td>
            <td th:text="${rpayment.startdate}"></td>
            <td th:text="${rpayment.enddate}"></td>
            <td th:text="${rpayment.payment}"></td>
        </tr>
        </tbody>
    </table>

</div>


<div th:replace="adminView::footer"></div>
</body>
</html>