<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="adminView::navbar"></div><br>
<div class="container-col-md-6 offset-md-3">
    <form action="" method="post">

        <h2 class="col-md-6 offset-md-2 mb-5 mt-4">Rent Detail</h2>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homeID" class="col-md-2 col-form-label">Home ID</label>
            <div class="col-md-4">
                <input type="text" class="form-control"  id="homeID" th:value="${home.getHomeId()}">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homeno" class="col-md-2 col-form-label">Home No.</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="homeno" th:value="${home.getHomeNo()}">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="no.ofbedroom" class="col-md-2 col-form-label">No.of Bedroom</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="no.ofbedroom" th:value="${home.getBedRoom()}">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="no.ofbathroom" class="col-md-2 col-form-label">No.of Bathroom</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="no.ofbathroom" th:value="${home.getBathRoom()}">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homeArea" class="col-md-2 col-form-label">Area</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="homeArea" th:value="${home.getArea()}">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homeLocation" class="col-md-2 col-form-label">Location</label>
            <div class="col-md-4">
                <input type="location" class="form-control" id="homeLocation" th:value="${home.getLocation()}">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homePrice" class="col-md-2 col-form-label">Price</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="homePrice" th:value="${home.getPrice()}">
            </div>
        </div>


        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="start date" class="col-md-2 col-form-label">Start Rent Date</label>
            <div class="col-md-4">
                <input type="date" class="form-control" id="start date">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="end date" class="col-md-2 col-form-label">End Rent Date</label>
            <div class="col-md-4">
                <input type="date" class="form-control" id="end date">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <button type="button" class="btn btn-danger ">Rent</button>
            </div>

        </div>

    </form>
</div>
<div th:replace="adminView::footer"></div>
</body>
</html>