<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Estate</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div class="container-col-md-6 offset-md-3">
    <form action="" method="post">

        <h2 class="col-md-6 offset-md-2 mb-5 mt-4">Rent Detail</h2>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homeID" class="col-md-2 col-form-label">Home ID</label>
            <div class="col-md-4">
                <input type="text" class="form-control"  id="homeID" value="${home.getHomeId()}">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homeno" class="col-md-2 col-form-label">Home No.</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="homeno" value="${home.getHomeNo()}">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="no.ofbedroom" class="col-md-2 col-form-label">No.of Bedroom</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="no.ofbedroom" value="${home.getBedRoom()}">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="no.ofbathroom" class="col-md-2 col-form-label">No.of Bathroom</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="no.ofbathroom" value="${home.getBathRoom()}">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homeArea" class="col-md-2 col-form-label">Area</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="homeArea" value="${home.getArea()}">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homeLocation" class="col-md-2 col-form-label">Location</label>
            <div class="col-md-4">
                <input type="location" class="form-control" id="homeLocation" value="${home.getLocation()}">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="homePrice" class="col-md-2 col-form-label">Price</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="homePrice" value="${home.getPrice()}">
            </div>
        </div>


        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="start date" class="col-md-2 col-form-label">Start Rent Date</label>
            <div class="col-md-4">
                <input type="date" class="form-control" id="start date">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-2"></div>
            <label for="end date" class="col-md-2 col-form-label">End Rent Date</label>
            <div class="col-md-4">
                <input type="date" class="form-control" id="end date">
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-4"></div>

            <div class="col-md-4">
                <button type="button" class="btn btn-danger ">Rent</button>
            </div>

        </div>

    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>