<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="adminView::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="adminView::navbar"></div><br>
    <h2 class="col-md-6 offset-md-3" style="text-align: center;">Users</h2>

    <div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">User Id</th>
            <th scope="col">User Name</th>
            <th scope="col">User Email</th>
            <th scope="col">User Phone</th>
            <th scope="col">User NRC</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">

            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.userEmail}"></td>
            <td th:text="${user.userPhone}"></td>
            <td th:text="${user.userNrc}"></td>
<!--            <td><a th:href="@{/delete/{userId}(userId=${user.userId})}">Delete</a></td>-->
            <td><a th:href="@{/delete/user/{userId}(userId=${user.userId})}"><button class="btn btn-danger" type="button">Delete</button></a></td>
        </tr>
        </tbody>
    </table>

</div>


<div th:replace="adminView::footer"></div>
</body>
</html>