<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div align="center">
    <h1>Your Profile</h1>

<!--    <form   method="post">-->
<!--        <span>Name :</span><span th:text="${user.userName}"></span><br/>-->
<!--        <span>Email :</span><span th:text="${user.userEmail}"></span><br/>-->
<!--        <span>Phone Number :</span><span th:text="${user.userPhone}"></span><br/>-->
<!--        <span>NRC :</span><span th:text="${user.userNrc}"></span><br/>-->
<!--        <span>Name :</span><span ></span><br/>-->
<!--        <span>Email :</span><span ></span><br/>-->
<!--        <span>Phone Number :</span><span ></span><br/>-->
<!--        <span>NRC :</span><span ></span><br/>-->
        <!-- Add form fields or buttons as needed -->
  ID : <span th:text="${user.userId}"></span>
 Name :  <span th:text="${user.userName}"></span>
  Phone : <span th:text="${user.userPhone}"></span>


<!--    </form-->
</div>
</body>
</html>